<h2>
  My Heroes
</h2>
<ul class="listOfHeroes">
  <!--each hero from HEROES goes here-->
  <li *ngFor="let listedHero of heroesArray" (click)="onSelect(listedHero)" [class.selected]="listedHero === selectedHero"> 
  <!--"Take each hero in the heroes array, store it in the local variable hero, and make it available to the corresponding template instance"
  let identifies hero as a template input variable. It also allows hero to be referenced from within this master template
  call onSelect(listedHero) once user clicks a hero and update selectedHero property with the clicked hero.
  * prefix of ngFor indicates a master template
  ngFor directive iterates over the array returned by AppComponent.heroes-->
    <span class="badge">{{listedHero.hero_id}}</span> {{listedHero.name}}
  </li>
</ul>
<!--render HeroDetailComponent, but property bind the listedHero property by inputting the selectedHero value-->
<hero-detail [listedHero]="selectedHero"></hero-detail>